@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f0f0;
  --text-color: #323232;
}

body {
  color: var(--text-color);
  background: var(--background);
  font-family: var(--neueRegrade-font);
  font-weight: 500;
}

.strokeDesktop {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #323232;
  color: #f0f0f0;
}

.strokeMobile {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #323232;
  color: #f0f0f0;
}